@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,300);

* {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px; /*1em = 16px*/
	color: #222222;
	line-height: 1.5em;
	text-align: center;
}
header {
	padding: 50px;
}
h1 {
	font-weight: 600;
}

h3 {
	font-weight: 400;
}
#slogan {
	font-family: 'Crimson Text', serif;
	font-weight: 400;
}
#contact {
	font-family: 'Roboto', sans-serif;
	margin: 20px;
	font-weight: 400;
}
.sub {
	padding: 5px;
	border-style: solid;
    border-width: 1px;
	font-weight: 50;
	text-align: left;
}
ul {
	margin: 20px;
	text-decoration: none;
	list-style-type: none;
}
a {
	color: inherit;
	text-decoration: none;
}
nav a {
	text-decoration: none;
	font-weight: 100;
	margin-right: 10px;
}
img {
	margin: 20px;
	width: 50%;
}
