* {
	padding: 0;
	margin: 0;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #222222;
	line-height: 1.5;
	text-align: center;
}
h3 {
	font-weight: 100;
}
#slogan {
	font-style: italic;
}
#contact {
	font-weight: 600;
}
.sub {
	padding-bottom: 5px;
	border-style: solid;
    border-width: 1px;
	font-weight: 50;
	text-align: left;
}
ul {
	text-decoration: none;
}
a {
	color: inherit;
	text-decoration: none;
}
nav a {
	text-decoration: none;
	font-weight: 100;
	margin-right: 10px;
}
img {
	width: 50%;
}
