* {
	padding: 0;
	margin: 0;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #222222;
	line-height: 1.5;
}

a {
	color: inherit;
	text-decoration: none;
}

nav a {
	text-decoration: none;
	font-weight: 100;
}
